Task: 
1. Help a muesli distribution company understand their delivery process.
    - Create KPI's to track the health of the company and better serve customers

Workflow:
1. Order received (Day 1)
2. Order processed in warehouse and made ready to ship (~ 2 days)
3. Order leaves warehouse in truck following day
4. Order delivered to customer (handled by logistics company)

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [15]:
plt.style.available

['Solarize_Light2',
 '_classic_test_patch',
 '_mpl-gallery',
 '_mpl-gallery-nogrid',
 'bmh',
 'classic',
 'dark_background',
 'fast',
 'fivethirtyeight',
 'ggplot',
 'grayscale',
 'seaborn',
 'seaborn-bright',
 'seaborn-colorblind',
 'seaborn-dark',
 'seaborn-dark-palette',
 'seaborn-darkgrid',
 'seaborn-deep',
 'seaborn-muted',
 'seaborn-notebook',
 'seaborn-paper',
 'seaborn-pastel',
 'seaborn-poster',
 'seaborn-talk',
 'seaborn-ticks',
 'seaborn-white',
 'seaborn-whitegrid',
 'tableau-colorblind10']

In [16]:
pd.options.display.float_format = "{:,.2f}".format
plt.style.use('seaborn-dark')
muesli_df = pd.read_csv('../EDA-GroupProject/data/Group4_Muesli Project raw data - Orders.csv')
muesli_df.head()

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,"90,049.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.00,11.77
1,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,"55,122.00",Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.00,19.77
2,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,"19,901.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3,0.00,4.95
3,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,"12,180.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2,0.00,3.30
4,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,"90,004.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0.00,6.15

In [20]:
muesli_df.rename(columns=lambda x : x.lower(), inplace=True)
muesli_df.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)

In [21]:
muesli_df.columns

Index(['index', 'order_id', 'order_date', 'ship_mode', 'customer_id',
       'customer_name', 'origin_channel', 'country/region', 'city', 'state',
       'postal_code', 'region', 'category', 'sub-category', 'product_id',
       'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [22]:
muesli_df.shape

(9994, 19)

In [23]:
muesli_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           9994 non-null   int64
 1   order_id        9994 non-null   object
 2   order_date      9994 non-null   object
 3   ship_mode       9994 non-null   object
 4   customer_id     9994 non-null   object
 5   customer_name   9994 non-null   object
 6   origin_channel  9994 non-null   object
 7   country/region  9994 non-null   object
 8   city            9994 non-null   object
 9   state           9994 non-null   object
 10  postal_code     9983 non-null   float64
 11  region          9994 non-null   object
 12  category        9994 non-null   object
 13  sub-category    9994 non-null   object
 14  product_id      9994 non-null   object
 15  sales           9994 non-null   float64
 16  quantity        9994 non-null   int64
 17  discount        9994 non-null   float64
 18  profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(13)
memory usage: 1.4+ MB

In [27]:
# df['trending_date'] = pd.to_datetime(df['trending_date'], format='%y.%d.%m')
muesli_df['order_date'] = pd.to_datetime(muesli_df['order_date'], format='%y.%d.%m')

ValueError: time data '16/1/2019' does not match format '%y.%d.%m' (match)