Task: 
1. Help a muesli distribution company understand their delivery process.
    - Create KPI's to track the health of the company and better serve customers

Workflow:
1. Order received (Day 1)
2. Order processed in warehouse and made ready to ship (~ 2 days)
3. Order leaves warehouse in truck following day
4. Order delivered to customer (handled by logistics company)

In [385]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [386]:
plt.style.available

['Solarize_Light2',
 '_classic_test_patch',
 '_mpl-gallery',
 '_mpl-gallery-nogrid',
 'bmh',
 'classic',
 'dark_background',
 'fast',
 'fivethirtyeight',
 'ggplot',
 'grayscale',
 'seaborn',
 'seaborn-bright',
 'seaborn-colorblind',
 'seaborn-dark',
 'seaborn-dark-palette',
 'seaborn-darkgrid',
 'seaborn-deep',
 'seaborn-muted',
 'seaborn-notebook',
 'seaborn-paper',
 'seaborn-pastel',
 'seaborn-poster',
 'seaborn-talk',
 'seaborn-ticks',
 'seaborn-white',
 'seaborn-whitegrid',
 'tableau-colorblind10']

In [387]:
pd.options.display.float_format = "{:,.2f}".format
plt.style.use('seaborn-dark')
muesli_df = pd.read_csv('../EDA-GroupProject/data/Group4_Muesli Project raw data - Orders.csv')
muesli_df.head()

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,"90,049.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.00,11.77
1,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,"55,122.00",Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.00,19.77
2,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,"19,901.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3,0.00,4.95
3,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,"12,180.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2,0.00,3.30
4,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,"90,004.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0.00,6.15

In [388]:
#lets combine DataFrames 
#Load the remaining Dataframes
Cam_df = pd.read_csv('data/Campaign Data.csv')
pro_df = pd.read_csv('data/Order Process Data.csv')
Int_df = pd.read_csv('data/Intern Data Study.csv')

In [401]:
display(Cam_df.head())
display(pro_df.head())
display(Int_df.head())

         order_id arrival_scan_date     customer_name
0  CA-2019-109666        2019-05-03      Kunst Miller
1  CA-2019-138933        2019-05-03       Jack Lebron
2  CA-2019-130001        2019-05-03  Heather Kirkland
3  CA-2019-113061        2019-05-06         Ed Ludwig
4  CA-2019-162138        2019-05-06       Grace Kelly

   row_id        order_id order_date on_truck_scan_date            ship_mode
0    3074  CA-2019-125206 2019-01-03         2019-01-07              Express
1    4919  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
2    4920  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
3    8604  US-2019-116365 2019-01-03         2019-01-09  Standard Processing
4    8605  US-2019-116365 2019-01-03         2019-01-09  Standard Processing

         order_id ready_to_ship_date pickup_date
0  CA-2019-116540         2019-09-02  03/09/2019
1  CA-2019-116540         2019-09-02  03/09/2019
2  CA-2019-129847         2019-09-04  04/09/2019
3  CA-2019-129630         2019-09-04  04/09/2019
4  CA-2019-106278         2019-09-05  06/09/2019

In [390]:
# remove capitalization and white-spaces
muesli_df.rename(columns=lambda x : x.lower(), inplace=True)
muesli_df.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
Cam_df.rename(columns=lambda x : x.lower(), inplace=True)
Cam_df.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
pro_df.rename(columns=lambda x : x.lower(), inplace=True)
pro_df.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
Int_df.rename(columns=lambda x : x.lower(), inplace=True)
Int_df.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)

In [391]:
# display results of lowercase and white-space changes
display(muesli_df.columns)
display(Cam_df.columns)
display(pro_df.columns)
display(Int_df.columns)

Index(['index', 'order_id', 'order_date', 'ship_mode', 'customer_id',
       'customer_name', 'origin_channel', 'country/region', 'city', 'state',
       'postal_code', 'region', 'category', 'sub-category', 'product_id',
       'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

Index(['order_id', 'arrival_scan_date', 'customer_name'], dtype='object')

Index(['row_id', 'order_id', 'order_date', 'on_truck_scan_date', 'ship_mode'], dtype='object')

Index(['order_id', 'ready_to_ship_date', 'pickup_date'], dtype='object')

In [392]:
# check results
display(muesli_df.shape)
display(Cam_df.shape)
display(pro_df.shape)
display(Int_df.shape)

(9994, 19)

(333, 3)

(5899, 5)

(290, 3)

In [393]:

display(muesli_df.info())
display(Cam_df.info())
display(pro_df.info())
display(Int_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           9994 non-null   int64
 1   order_id        9994 non-null   object
 2   order_date      9994 non-null   object
 3   ship_mode       9994 non-null   object
 4   customer_id     9994 non-null   object
 5   customer_name   9994 non-null   object
 6   origin_channel  9994 non-null   object
 7   country/region  9994 non-null   object
 8   city            9994 non-null   object
 9   state           9994 non-null   object
 10  postal_code     9983 non-null   float64
 11  region          9994 non-null   object
 12  category        9994 non-null   object
 13  sub-category    9994 non-null   object
 14  product_id      9994 non-null   object
 15  sales           9994 non-null   float64
 16  quantity        9994 non-null   int64
 17  discount        9994 non-null   float64
 18  profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(13)
memory usage: 1.4+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           333 non-null    object
 1   arrival_scan_date  333 non-null    object
 2   customer_name      333 non-null    object
dtypes: object(3)
memory usage: 7.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5899 entries, 0 to 5898
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   row_id              5899 non-null   int64
 1   order_id            5899 non-null   object
 2   order_date          5899 non-null   object
 3   on_truck_scan_date  5899 non-null   object
 4   ship_mode           5899 non-null   object
dtypes: int64(1), object(4)
memory usage: 230.6+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            290 non-null    object
 1   ready_to_ship_date  290 non-null    object
 2   pickup_date         290 non-null    object
dtypes: object(3)
memory usage: 6.9+ KB

None

In [394]:
# change all date formats to year-month-day
muesli_df['order_date'] = pd.to_datetime(muesli_df['order_date'], format='%d/%m/%Y')

In [395]:
# change all date formats to year-month-day
Cam_df['arrival_scan_date'] = pd.to_datetime(Cam_df['arrival_scan_date'], format='%d/%m/%Y')

In [396]:
# change all date formats to year-month-day
pro_df['order_date'] = pd.to_datetime(pro_df['order_date'], format='%d/%m/%Y')

In [397]:
# change all date formats to year-month-day
pro_df['on_truck_scan_date'] = pd.to_datetime(pro_df['on_truck_scan_date'], format='%d/%m/%Y')

In [398]:
# change all date formats to year-month-day
Int_df['ready_to_ship_date'] = pd.to_datetime(Int_df['ready_to_ship_date'], format='%d/%m/%Y')

In [403]:
# change all date formats to year-month-day
Int_df['pickup_date'] = pd.to_datetime(Int_df['pickup_date'], format='%d/%m/%Y')

In [404]:
# check result of date format changes
display(muesli_df['order_date'].head())
display(Cam_df['arrival_scan_date'].head())
display(pro_df[['order_date', 'on_truck_scan_date']].head())
display(Int_df[['ready_to_ship_date', 'pickup_date']].head())

0   2019-01-16
1   2019-03-11
2   2019-06-20
3   2019-06-17
4   2018-11-24
Name: order_date, dtype: datetime64[ns]

0   2019-05-03
1   2019-05-03
2   2019-05-03
3   2019-05-06
4   2019-05-06
Name: arrival_scan_date, dtype: datetime64[ns]

  order_date on_truck_scan_date
0 2019-01-03         2019-01-07
1 2019-01-02         2019-01-09
2 2019-01-02         2019-01-09
3 2019-01-03         2019-01-09
4 2019-01-03         2019-01-09

  ready_to_ship_date pickup_date
0         2019-09-02  2019-09-03
1         2019-09-02  2019-09-03
2         2019-09-04  2019-09-04
3         2019-09-04  2019-09-04
4         2019-09-05  2019-09-06

In [405]:
# create new columns arrival scan of day/month/year in campaign data 
Cam_df['arrival_scan_year'] = Cam_df['arrival_scan_date'].dt.year
Cam_df['arrival_scan_month'] = Cam_df['arrival_scan_date'].dt.month
Cam_df['arrival_scan_day'] = Cam_df['arrival_scan_date'].dt.day_of_week

In [406]:
# create new columns order date of day/month/year in campaign data 
pro_df['order_year'] = pro_df['order_date'].dt.year
pro_df['order_month'] = pro_df['order_date'].dt.month
pro_df['order_day'] = pro_df['order_date'].dt.day_of_week
# create new columns on truck scan of day/month/year in campaign data 
pro_df['on_truck_scan_year'] = pro_df['on_truck_scan_date'].dt.year
pro_df['on_truck_scan_month'] = pro_df['on_truck_scan_date'].dt.month
pro_df['on_truck_scan_day'] = pro_df['on_truck_scan_date'].dt.day_of_week

In [407]:
# create new columns on truck scan of day/month/year in campaign data 
Int_df['ready_to_ship_year'] = Int_df['ready_to_ship_date'].dt.year
Int_df['ready_to_ship_month'] = Int_df['ready_to_ship_date'].dt.month
Int_df['ready_to_ship_day'] = Int_df['ready_to_ship_date'].dt.day_of_week
# create new columns on truck scan of day/month/year in campaign data 
Int_df['pickup_year'] = Int_df['pickup_date'].dt.year
Int_df['pickup_month'] = Int_df['pickup_date'].dt.month
Int_df['pickup_day'] = Int_df['pickup_date'].dt.day_of_week

In [408]:
display(Cam_df.head())
display(pro_df.head())
display(Int_df.head())

,order_id,arrival_scan_date,customer_name,arrival_scan_year,arrival_scan_month,arrival_scan_day
0,CA-2019-109666,2019-05-03,Kunst Miller,2019,5,4
1,CA-2019-138933,2019-05-03,Jack Lebron,2019,5,4
2,CA-2019-130001,2019-05-03,Heather Kirkland,2019,5,4
3,CA-2019-113061,2019-05-06,Ed Ludwig,2019,5,0
4,CA-2019-162138,2019-05-06,Grace Kelly,2019,5,0

,row_id,order_id,order_date,on_truck_scan_date,ship_mode,order_year,order_month,order_day,on_truck_scan_year,on_truck_scan_month,on_truck_scan_day
0,3074,CA-2019-125206,2019-01-03,2019-01-07,Express,2019,1,3,2019,1,0
1,4919,CA-2019-160304,2019-01-02,2019-01-09,Standard Processing,2019,1,2,2019,1,2
2,4920,CA-2019-160304,2019-01-02,2019-01-09,Standard Processing,2019,1,2,2019,1,2
3,8604,US-2019-116365,2019-01-03,2019-01-09,Standard Processing,2019,1,3,2019,1,2
4,8605,US-2019-116365,2019-01-03,2019-01-09,Standard Processing,2019,1,3,2019,1,2

,order_id,ready_to_ship_date,pickup_date,ready_to_ship_year,ready_to_ship_month,ready_to_ship_day,pickup_year,pickup_month,pickup_day
0,CA-2019-116540,2019-09-02,2019-09-03,2019,9,0,2019,9,1
1,CA-2019-116540,2019-09-02,2019-09-03,2019,9,0,2019,9,1
2,CA-2019-129847,2019-09-04,2019-09-04,2019,9,2,2019,9,2
3,CA-2019-129630,2019-09-04,2019-09-04,2019,9,2,2019,9,2
4,CA-2019-106278,2019-09-05,2019-09-06,2019,9,3,2019,9,4

In [409]:
# find out how many unique customers we have
display(Cam_df['order_id'].nunique())
display(Cam_df['customer_name'].nunique())
display(muesli_df['customer_id'].nunique())
display(muesli_df['customer_name'].nunique())
# We now know we have 333 unique customers from the campaign data, and 793 unique customers in the muesli data

333

333

793

793

In [421]:
# Create new column called 'ship_to_pickup_days' to check the time between ready date and the ship pick-up date in the intern study data
Int_df['ship_to_pickup_days'] = (Int_df['pickup_date']-Int_df['ready_to_ship_date']).dt.days
# Check results
Int_df.head()

,order_id,ready_to_ship_date,pickup_date,ready_to_ship_year,ready_to_ship_month,ready_to_ship_day,pickup_year,pickup_month,pickup_day,ship_to_pickup_days
0,CA-2019-116540,2019-09-02,2019-09-03,2019,9,0,2019,9,1,1
1,CA-2019-116540,2019-09-02,2019-09-03,2019,9,0,2019,9,1,1
2,CA-2019-129847,2019-09-04,2019-09-04,2019,9,2,2019,9,2,0
3,CA-2019-129630,2019-09-04,2019-09-04,2019,9,2,2019,9,2,0
4,CA-2019-106278,2019-09-05,2019-09-06,2019,9,3,2019,9,4,1

In [422]:
Int_df['ship_to_pickup_days'].mean()

1.6517241379310346

In [420]:
# Create new column called 'ship_to_pickup_days' to check the time between ready date and the ship pick-up date in the intern study data
pro_df['order_to_on_truck_days'] = (pro_df['on_truck_scan_date']-pro_df['order_date']).dt.days
# Check results
pro_df.head()

,row_id,order_id,order_date,on_truck_scan_date,ship_mode,order_year,order_month,order_day,on_truck_scan_year,on_truck_scan_month,on_truck_scan_day,order_to_on_truck_days
0,3074,CA-2019-125206,2019-01-03,2019-01-07,Express,2019,1,3,2019,1,0,4
1,4919,CA-2019-160304,2019-01-02,2019-01-09,Standard Processing,2019,1,2,2019,1,2,7
2,4920,CA-2019-160304,2019-01-02,2019-01-09,Standard Processing,2019,1,2,2019,1,2,7
3,8604,US-2019-116365,2019-01-03,2019-01-09,Standard Processing,2019,1,3,2019,1,2,6
4,8605,US-2019-116365,2019-01-03,2019-01-09,Standard Processing,2019,1,3,2019,1,2,6

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
# Where I start to really diverge in method and ideas
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>

In [413]:
# merging 'Intern Data Study.csv' and 'Process Data.csv' into one 
Pro_Int_df = pd.merge(Int_df, pro_df, on =['order_id'])
# merging 'Pro_Int_df' and 'Campaign Data.csv' into one 
Cam_pro_int_df = pd.merge(Pro_Int_df, Cam_df, on = ['order_id'])
# Check results
Cam_pro_int_df.head()

,order_id,ready_to_ship_date,pickup_date,ready_to_ship_year,ready_to_ship_month,ready_to_ship_day,pickup_year,pickup_month,pickup_day,ship_to_pickup_days,...,order_day,on_truck_scan_year,on_truck_scan_month,on_truck_scan_day,order_to_on_truck_days,arrival_scan_date,customer_name,arrival_scan_year,arrival_scan_month,arrival_scan_day
0,CA-2019-129847,2019-09-04,2019-09-04,2019,9,2,2019,9,2,0,...,0,2019,9,2,2,2019-09-10,Tom Ashbrook,2019,9,1
1,CA-2019-129630,2019-09-04,2019-09-04,2019,9,2,2019,9,2,0,...,2,2019,9,2,0,2019-09-09,Ionia McGrath,2019,9,0
2,CA-2019-129630,2019-09-04,2019-09-04,2019,9,2,2019,9,2,0,...,2,2019,9,2,0,2019-09-09,Ionia McGrath,2019,9,0
3,CA-2019-106278,2019-09-05,2019-09-06,2019,9,3,2019,9,4,1,...,0,2019,9,4,4,2019-09-10,Becky Martin,2019,9,1
4,CA-2019-106278,2019-09-05,2019-09-06,2019,9,3,2019,9,4,1,...,0,2019,9,4,4,2019-09-10,Becky Martin,2019,9,1

In [414]:
# check descriptive stats and info of new merged csv
# display(Cam_pro_int_df.describe())
display(Cam_pro_int_df.shape)
display(Cam_pro_int_df.info())

(84, 26)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84 entries, 0 to 83
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                84 non-null     object
 1   ready_to_ship_date      84 non-null     datetime64[ns]
 2   pickup_date             84 non-null     datetime64[ns]
 3   ready_to_ship_year      84 non-null     int64
 4   ready_to_ship_month     84 non-null     int64
 5   ready_to_ship_day       84 non-null     int64
 6   pickup_year             84 non-null     int64
 7   pickup_month            84 non-null     int64
 8   pickup_day              84 non-null     int64
 9   ship_to_pickup_days     84 non-null     int64
 10  row_id                  84 non-null     int64
 11  order_date              84 non-null     datetime64[ns]
 12  on_truck_scan_date      84 non-null     datetime64[ns]
 13  ship_mode               84 non-null     object
 14  order_year              84 non-null     int64
 15  order_month             84 non-null     int64
 16  order_day               84 non-null     int64
 17  on_truck_scan_year      84 non-null     int64
 18  on_truck_scan_month     84 non-null     int64
 19  on_truck_scan_day       84 non-null     int64
 20  order_to_on_truck_days  84 non-null     int64
 21  arrival_scan_date       84 non-null     datetime64[ns]
 22  customer_name           84 non-null     object
 23  arrival_scan_year       84 non-null     int64
 24  arrival_scan_month      84 non-null     int64
 25  arrival_scan_day        84 non-null     int64
dtypes: datetime64[ns](5), int64(18), object(3)
memory usage: 17.7+ KB

None

In [415]:
# merging 'Cam_pro_int_df' and 'muesli_df' into one 
Muesli_df2 =pd.merge(muesli_df,Cam_pro_int_df, how = 'outer', on = ['order_id','order_date','ship_mode','ship_mode'])

In [416]:
Muesli_df2.head()

,index,order_id,order_date,ship_mode,customer_id,customer_name_x,origin_channel,country/region,city,state,...,order_day,on_truck_scan_year,on_truck_scan_month,on_truck_scan_day,order_to_on_truck_days,arrival_scan_date,customer_name_y,arrival_scan_year,arrival_scan_month,arrival_scan_day
0,27.00,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,26.00,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,45.00,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,46.00,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,48.00,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [417]:
Muesli_df2.columns

Index(['index', 'order_id', 'order_date', 'ship_mode', 'customer_id',
       'customer_name_x', 'origin_channel', 'country/region', 'city', 'state',
       'postal_code', 'region', 'category', 'sub-category', 'product_id',
       'sales', 'quantity', 'discount', 'profit', 'ready_to_ship_date',
       'pickup_date', 'ready_to_ship_year', 'ready_to_ship_month',
       'ready_to_ship_day', 'pickup_year', 'pickup_month', 'pickup_day',
       'ship_to_pickup_days', 'row_id', 'on_truck_scan_date', 'order_year',
       'order_month', 'order_day', 'on_truck_scan_year', 'on_truck_scan_month',
       'on_truck_scan_day', 'order_to_on_truck_days', 'arrival_scan_date',
       'customer_name_y', 'arrival_scan_year', 'arrival_scan_month',
       'arrival_scan_day'],
      dtype='object')

In [418]:
display(muesli_df.shape)
display(Muesli_df2.shape)

(9994, 19)

(10078, 42)

In [419]:
Muesli_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10078 entries, 0 to 10077
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   9994 non-null   float64
 1   order_id                10078 non-null  object
 2   order_date              10078 non-null  datetime64[ns]
 3   ship_mode               10078 non-null  object
 4   customer_id             9994 non-null   object
 5   customer_name_x         9994 non-null   object
 6   origin_channel          9994 non-null   object
 7   country/region          9994 non-null   object
 8   city                    9994 non-null   object
 9   state                   9994 non-null   object
 10  postal_code             9983 non-null   float64
 11  region                  9994 non-null   object
 12  category                9994 non-null   object
 13  sub-category            9994 non-null   object
 14  product_id              9994 non-null   object
 15  sales                   9994 non-null   float64
 16  quantity                9994 non-null   float64
 17  discount                9994 non-null   float64
 18  profit                  9994 non-null   float64
 19  ready_to_ship_date      84 non-null     datetime64[ns]
 20  pickup_date             84 non-null     datetime64[ns]
 21  ready_to_ship_year      84 non-null     float64
 22  ready_to_ship_month     84 non-null     float64
 23  ready_to_ship_day       84 non-null     float64
 24  pickup_year             84 non-null     float64
 25  pickup_month            84 non-null     float64
 26  pickup_day              84 non-null     float64
 27  ship_to_pickup_days     84 non-null     float64
 28  row_id                  84 non-null     float64
 29  on_truck_scan_date      84 non-null     datetime64[ns]
 30  order_year              84 non-null     float64
 31  order_month             84 non-null     float64
 32  order_day               84 non-null     float64
 33  on_truck_scan_year      84 non-null     float64
 34  on_truck_scan_month     84 non-null     float64
 35  on_truck_scan_day       84 non-null     float64
 36  order_to_on_truck_days  84 non-null     float64
 37  arrival_scan_date       84 non-null     datetime64[ns]
 38  customer_name_y         84 non-null     object
 39  arrival_scan_year       84 non-null     float64
 40  arrival_scan_month      84 non-null     float64
 41  arrival_scan_day        84 non-null     float64
dtypes: datetime64[ns](5), float64(24), object(13)
memory usage: 3.3+ MB