In [ ]:
# Exploratory Data Analysis Exercise

Objective: Business Understanding and extracting information from customer briefing  
Technical: Combine multiple data sources, perform Exploratory Data Analysis   
Mathematical: Calculate descriptive statistics  
Data: In your [Google Drive EDA Project Folder](https://docs.google.com/spreadsheets/d/1RCZR7fOF4n7pFIrOgKqWtb4hAPmsV0N0JhgtT4k2wug/edit?usp=sharing)

In [1]:
#Import necessary package

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Floats (decimal numbers) should be displayed rounded with 2 decimal places
pd.options.display.float_format = "{:,.2f}".format
# Set style for plots
plt.style.use('fivethirtyeight')

In [3]:
# Load Dataset
Muesli_df = pd.read_csv("data/Group4_Muesli Project raw data - Orders.csv")
Muesli_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
1,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0,11.7741
2,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0,19.7714
3,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45,3,0,4.95
4,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30,2,0,3.3

In [4]:
Muesli_df = Muesli_df.rename(columns={'Unnamed: 0': 'Index','Unnamed: 1': 'Order_Id', 'Unnamed: 2': 'Order_Date', 'Unnamed: 3': 'Ship_Mode', 'Unnamed: 4': 'Customer_Id', 'Unnamed: 5': 'Customer_Name', 'Unnamed: 6': 'Origin_Channel', 'Unnamed: 7': 'Country/Region', 'Unnamed: 8': 'City', 'Unnamed: 9': 'State', 'Unnamed: 10': 'Postal_Code', 'Unnamed: 11': 'Region', 'Unnamed: 12': 'Category', 'Unnamed: 13': 'Sub_Category', 'Unnamed: 14': 'Product_Id', 'Unnamed: 15': 'Sales', 'Unnamed: 16': 'Quantity', 'Unnamed: 17': 'Discount', 'Unnamed: 18': 'Profit'})
Muesli_df.head()

,Index,Order_Id,Order_Date,Ship_Mode,Customer_Id,Customer_Name,Origin_Channel,Country/Region,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Sales,Quantity,Discount,Profit
0,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
1,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0,11.7741
2,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0,19.7714
3,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45,3,0,4.95
4,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30,2,0,3.3

In [5]:
#Drops Unnamed Column
Muesli_df = Muesli_df.drop(0)

Muesli_df.head()

,Index,Order_Id,Order_Date,Ship_Mode,Customer_Id,Customer_Name,Origin_Channel,Country/Region,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Sales,Quantity,Discount,Profit
1,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0,11.7741
2,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0,19.7714
3,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45,3,0,4.95
4,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30,2,0,3.3
5,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0,6.1512

In [8]:
#Check Columns
Muesli_df.columns

Index(['Index', 'Order_Id', 'Order_Date', 'Ship_Mode', 'Customer_Id',
       'Customer_Name', 'Origin_Channel', 'Country/Region', 'City', 'State',
       'Postal_Code', 'Region', 'Category', 'Sub_Category', 'Product_Id',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [9]:
#check if there are null variables and Column data-type
Muesli_df.info()
## No null variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 1 to 9994
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index           9994 non-null   object
 1   Order_Id        9994 non-null   object
 2   Order_Date      9994 non-null   object
 3   Ship_Mode       9994 non-null   object
 4   Customer_Id     9994 non-null   object
 5   Customer_Name   9994 non-null   object
 6   Origin_Channel  9994 non-null   object
 7   Country/Region  9994 non-null   object
 8   City            9994 non-null   object
 9   State           9994 non-null   object
 10  Postal_Code     9983 non-null   object
 11  Region          9994 non-null   object
 12  Category        9994 non-null   object
 13  Sub_Category    9994 non-null   object
 14  Product_Id      9994 non-null   object
 15  Sales           9994 non-null   object
 16  Quantity        9994 non-null   object
 17  Discount        9994 non-null   object
 18  Profit          9994 non-null   object
dtypes: object(19)
memory usage: 1.4+ MB

In [12]:
#Convert order date to date
Muesli_df['Order_Date'] = pd.to_datetime(Muesli_df['Order_Date'])
Muesli_df.head()

,Index,Order_Id,Order_Date,Ship_Mode,Customer_Id,Customer_Name,Origin_Channel,Country/Region,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Sales,Quantity,Discount,Profit
1,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0,11.7741
2,45,CA-2019-118255,2019-11-03,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0,19.7714
3,48,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45,3,0,4.95
4,60,CA-2019-111682,2019-06-17,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30,2,0,3.3
5,63,CA-2018-135545,2018-11-24,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0,6.1512

In [13]:
Muesli_df.Sub_Category.unique()

array(['Gluten Free', 'Hunger Buster', 'Low Sugar', 'Maple Sweetened',
       'Mega Protein', 'No Taste All Power', 'Nuts and more', 'Only Oats',
       'Organic', 'Power Clean Fibre Boost', 'Steel Cut',
       'Super Fibre Boost', 'Super Mega Protein', 'Sweetened',
       'With Fruit', 'With Fruit and Nuts', 'With Nuts'], dtype=object)

In [14]:
#lets combine DataFrames
#Load the remaining Dataframes
Cam_df = pd.read_csv('data/Campaign Data.csv')
pro_df = pd.read_csv('data/Order Process Data.csv')
Int_df = pd.read_csv('data/Intern Data Study.csv')

In [15]:
Cam_df.head()

         Order ID Arrival Scan Date     Customer Name
0  CA-2019-109666        03/05/2019      Kunst Miller
1  CA-2019-138933        03/05/2019       Jack Lebron
2  CA-2019-130001        03/05/2019  Heather Kirkland
3  CA-2019-113061        06/05/2019         Ed Ludwig
4  CA-2019-162138        06/05/2019       Grace Kelly

In [16]:
pro_df.head()

   Row ID        Order ID Order Date On Truck Scan Date            Ship Mode
0    3074  CA-2019-125206   3/1/2019         07/01/2019              Express
1    4919  CA-2019-160304   2/1/2019         09/01/2019  Standard Processing
2    4920  CA-2019-160304   2/1/2019         09/01/2019  Standard Processing
3    8604  US-2019-116365   3/1/2019         09/01/2019  Standard Processing
4    8605  US-2019-116365   3/1/2019         09/01/2019  Standard Processing

In [18]:
Int_df.head()

         Order ID Ready to Ship Date Pickup Date
0  CA-2019-116540         02/09/2019  03/09/2019
1  CA-2019-116540         02/09/2019  03/09/2019
2  CA-2019-129847         04/09/2019  04/09/2019
3  CA-2019-129630         04/09/2019  04/09/2019
4  CA-2019-106278         05/09/2019  06/09/2019

In [19]:
Pro_Int_df = pd.merge(Int_df, pro_df, on =['Order ID']) #merged order process data and Intern Data using order id

In [20]:
Pro_Int_df.head()

,Order ID,Ready to Ship Date,Pickup Date,Row ID,Order Date,On Truck Scan Date,Ship Mode
0,CA-2019-116540,02/09/2019,03/09/2019,3416,2/9/2019,03/09/2019,Express
1,CA-2019-116540,02/09/2019,03/09/2019,3417,2/9/2019,03/09/2019,Express
2,CA-2019-116540,02/09/2019,03/09/2019,3416,2/9/2019,03/09/2019,Express
3,CA-2019-116540,02/09/2019,03/09/2019,3417,2/9/2019,03/09/2019,Express
4,CA-2019-129847,04/09/2019,04/09/2019,6937,2/9/2019,04/09/2019,Express

In [23]:
Cam_pro_int_df = pd.merge(Pro_Int_df, Cam_df, on = ['Order ID'])

In [24]:
Cam_pro_int_df.head()

,Order ID,Ready to Ship Date,Pickup Date,Row ID,Order Date,On Truck Scan Date,Ship Mode,Arrival Scan Date,Customer Name
0,CA-2019-129847,04/09/2019,04/09/2019,6937,2/9/2019,04/09/2019,Express,10/09/2019,Tom Ashbrook
1,CA-2019-129630,04/09/2019,04/09/2019,9929,4/9/2019,04/09/2019,Express,09/09/2019,Ionia McGrath
2,CA-2019-129630,04/09/2019,04/09/2019,9930,4/9/2019,04/09/2019,Express,09/09/2019,Ionia McGrath
3,CA-2019-106278,05/09/2019,06/09/2019,9069,2/9/2019,06/09/2019,Standard Processing,10/09/2019,Becky Martin
4,CA-2019-106278,05/09/2019,06/09/2019,9070,2/9/2019,06/09/2019,Standard Processing,10/09/2019,Becky Martin

In [25]:
#Renamed some columns because i already did the same for the Muesli Dataset so that they can look alike
Cam_pro_int_df = Cam_pro_int_df.rename(columns={'Order ID': 'Order_Id', 'Order Date': 'Order_Date', 'Ship Mode': 'Ship_Mode', 'Customer Name': 'Customer_Name'})

In [26]:
Cam_pro_int_df.head()

,Order_Id,Ready to Ship Date,Pickup Date,Row ID,Order_Date,On Truck Scan Date,Ship_Mode,Arrival Scan Date,Customer_Name
0,CA-2019-129847,04/09/2019,04/09/2019,6937,2/9/2019,04/09/2019,Express,10/09/2019,Tom Ashbrook
1,CA-2019-129630,04/09/2019,04/09/2019,9929,4/9/2019,04/09/2019,Express,09/09/2019,Ionia McGrath
2,CA-2019-129630,04/09/2019,04/09/2019,9930,4/9/2019,04/09/2019,Express,09/09/2019,Ionia McGrath
3,CA-2019-106278,05/09/2019,06/09/2019,9069,2/9/2019,06/09/2019,Standard Processing,10/09/2019,Becky Martin
4,CA-2019-106278,05/09/2019,06/09/2019,9070,2/9/2019,06/09/2019,Standard Processing,10/09/2019,Becky Martin

In [29]:
#Because i already converted to date frame, lets do the same for Cam_pro_Int_df before merging
Cam_pro_int_df['Order_Date'] = pd.to_datetime(Cam_pro_int_df['Order_Date'])
Cam_pro_int_df.head()

,Order_Id,Ready to Ship Date,Pickup Date,Row ID,Order_Date,On Truck Scan Date,Ship_Mode,Arrival Scan Date,Customer_Name
0,CA-2019-129847,04/09/2019,04/09/2019,6937,2019-02-09,04/09/2019,Express,10/09/2019,Tom Ashbrook
1,CA-2019-129630,04/09/2019,04/09/2019,9929,2019-04-09,04/09/2019,Express,09/09/2019,Ionia McGrath
2,CA-2019-129630,04/09/2019,04/09/2019,9930,2019-04-09,04/09/2019,Express,09/09/2019,Ionia McGrath
3,CA-2019-106278,05/09/2019,06/09/2019,9069,2019-02-09,06/09/2019,Standard Processing,10/09/2019,Becky Martin
4,CA-2019-106278,05/09/2019,06/09/2019,9070,2019-02-09,06/09/2019,Standard Processing,10/09/2019,Becky Martin

In [30]:
Cam_pro_int_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84 entries, 0 to 83
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_Id            84 non-null     object
 1   Ready to Ship Date  84 non-null     object
 2   Pickup Date         84 non-null     object
 3   Row ID              84 non-null     int64
 4   Order_Date          84 non-null     datetime64[ns]
 5   On Truck Scan Date  84 non-null     object
 6   Ship_Mode           84 non-null     object
 7   Arrival Scan Date   84 non-null     object
 8   Customer_Name       84 non-null     object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 6.6+ KB

In [50]:
#Merge with the muesli Dataset
Muesli_df2 =pd.merge(Muesli_df,Cam_pro_int_df, how = 'outer', on = ['Order_Id','Order_Date','Ship_Mode','Customer_Name'])
#if how= outer == default concat

In [51]:
Muesli_df2

,Index,Order_Id,Order_Date,Ship_Mode,Customer_Id,Customer_Name,Origin_Channel,Country/Region,City,State,...,Product_Id,Sales,Quantity,Discount,Profit,Ready to Ship Date,Pickup Date,Row ID,On Truck Scan Date,Arrival Scan Date
0,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,TEC-AC-10003027,90.57,3,0,11.7741,NaN,NaN,NaN,NaN,NaN
1,26,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,OFF-BI-10001634,11.648,2,0.2,4.2224,NaN,NaN,NaN,NaN,NaN
2,45,CA-2019-118255,2019-11-03,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,TEC-AC-10000171,45.98,2,0,19.7714,NaN,NaN,NaN,NaN,NaN
3,46,CA-2019-118255,2019-11-03,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,OFF-BI-10003291,17.46,2,0,8.2062,NaN,NaN,NaN,NaN,NaN
4,48,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,...,TEC-AC-10002167,45,3,0,4.95,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10073,NaN,CA-2019-145611,2019-09-20,Standard Processing,NaN,Helen Abelman,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24/09/2019,25/09/2019,"8,046.00",25/09/2019,30/09/2019
10074,NaN,CA-2019-166772,2019-09-20,Standard Processing,NaN,Heather Jas,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24/09/2019,25/09/2019,"9,281.00",25/09/2019,30/09/2019
10075,NaN,CA-2019-141551,2019-09-24,Standard Processing,NaN,Benjamin Patterson,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30/09/2019,02/10/2019,"5,681.00",02/10/2019,07/10/2019
10076,NaN,CA-2019-141551,2019-09-24,Standard Processing,NaN,Benjamin Patterson,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30/09/2019,02/10/2019,"5,682.00",02/10/2019,07/10/2019
10077,NaN,CA-2019-163202,2019-09-27,Standard Processing,NaN,Brian Moss,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,02/10/2019,04/10/2019,"5,399.00",04/10/2019,07/10/2019

In [52]:
Muesli_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10078 entries, 0 to 10077
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Index               9994 non-null   object
 1   Order_Id            10078 non-null  object
 2   Order_Date          10078 non-null  datetime64[ns]
 3   Ship_Mode           10078 non-null  object
 4   Customer_Id         9994 non-null   object
 5   Customer_Name       10078 non-null  object
 6   Origin_Channel      9994 non-null   object
 7   Country/Region      9994 non-null   object
 8   City                9994 non-null   object
 9   State               9994 non-null   object
 10  Postal_Code         9983 non-null   object
 11  Region              9994 non-null   object
 12  Category            9994 non-null   object
 13  Sub_Category        9994 non-null   object
 14  Product_Id          9994 non-null   object
 15  Sales               9994 non-null   object
 16  Quantity            9994 non-null   object
 17  Discount            9994 non-null   object
 18  Profit              9994 non-null   object
 19  Ready to Ship Date  84 non-null     object
 20  Pickup Date         84 non-null     object
 21  Row ID              84 non-null     float64
 22  On Truck Scan Date  84 non-null     object
 23  Arrival Scan Date   84 non-null     object
dtypes: datetime64[ns](1), float64(1), object(22)
memory usage: 1.9+ MB